<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:p-16">

    <!-- Post 1-->
    <div class="card bg-base-300 shadow-xl transition-all duration-300 hover:scale-105 cursor-pointer"
         hx-get="blog/post1.html" hx-target="closest main" hx-swap="innerHTML">
        
        <figure>
            <img src="assets/post1.jpg" alt="Coffee" class="aspect-video object-cover" />
        </figure>

        <div class="card-body p-6">
            <div class="flex-grow">
                <h2 class="card-title">Progresso de Agosto</h2>
                <p class="mt-1 text-base-content/70">Relatório do projeto para o mês de agosto</p>
            </div>
            <div class="card-actions justify-end mt-4">
                <p class="text-sm text-base-content/60">05/09/2025</p>
            </div>
        </div>
    </div>

    <!-- Post 2 -->
    <div class="card bg-base-300 shadow-xl transition-all duration-300 hover:scale-105 cursor-pointer"
         hx-get="blog/post2.html" hx-target="closest main" hx-swap="innerHTML">
        
        <figure>
            <img src="assets/post2.jpg" alt="Post 2 do site" class="aspect-video object-cover" />
        </figure>

        <div class="card-body p-6">
            <div class="flex-grow">
                <h2 class="card-title">Progresso parcial de Setembro</h2>
                <p class="mt-1 text-base-content/70">Relatório do projeto para o ínicio do mês de setembro</p>
            </div>
            <div class="card-actions justify-end mt-4">
                <p class="text-sm text-base-content/60">13/09/2025</p>
            </div>
        </div>
    </div>


    <!-- Post 3 -->
    <div class="card bg-base-300 shadow-xl transition-all duration-300 hover:scale-105 cursor-pointer"
         hx-get="blog/post3.html" hx-target="closest main" hx-swap="innerHTML">
        
        <figure>
            <img src="assets/post3.jpg" alt="Post 3 do site" class="aspect-video object-cover" />
        </figure>

        <div class="card-body p-6">
            <div class="flex-grow">
                <h2 class="card-title">Progresso: segunda metade de Setembro</h2>
                <p class="mt-1 text-base-content/70">Relatório do projeto para a segunda metade do mês de setembro</p>
            </div>
            <div class="card-actions justify-end mt-4">
                <p class="text-sm text-base-content/60">03/10/2025</p>
            </div>
        </div>
    </div>

    <!-- Post 3 -->
    <div class="card bg-base-300 shadow-xl transition-all duration-300 hover:scale-105 cursor-pointer"
         hx-get="blog/post4.html" hx-target="closest main" hx-swap="innerHTML">
        
        <figure>
            <img src="assets/post4.jpg" alt="Post 4 do site" class="aspect-video object-cover" />
        </figure>

        <div class="card-body p-6">
            <div class="flex-grow">
                <h2 class="card-title">Progresso: Outubro</h2>
                <p class="mt-1 text-base-content/70">Relatório do projeto para outubro</p>
            </div>
            <div class="card-actions justify-end mt-4">
                <p class="text-sm text-base-content/60">27/10/2025</p>
            </div>
        </div>
    </div>
    
</div>
